/* Custom Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap");

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Generics */

body {
  background-color: rgb(34, 34, 34);
}

input {
  color: black;
  border-radius: 5px;
}

input:checked + svg {
  display: block;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}

/* @font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Medium.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
} */

/* Marker tweaks */
.mapboxgl-popup-close-button {
  position: relative;
  top: 2px;
  right: 4px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 200px;
}

.mapboxgl-popup-content-wrapper {
  padding: 2%;
}

.mapboxgl-popup-content h3 {
  color: #000;
  margin: 0;
  display: block;
  padding-top: 8px;
  border-radius: 4px 4px 0 0;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 4px;
}

.mapboxgl-popup-content div {
  padding: 8px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 8px;
}
