@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Generics */

body {
  background-color: rgb(67, 67, 67);
}

input {
  color: black;
  border-radius: 5px;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}
